# 1. Import data and libraries

# 2. General Dataframe checking

# 3. Merge Data

# 4. Export Dataframe

# ------------------------------------------------------------------------------------------------

### Import Libraries and Data, create variable for the path

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#create string for the path 

path = r'C:\Users\kilia\OneDrive\CareerFoundry\Projects\Data Immersion Course\Achievement 4\Instacart Basket Analysis_04-2023\02 Data\Original Data'
path1 = r'C:\Users\kilia\OneDrive\CareerFoundry\Projects\Data Immersion Course\Achievement 4\Instacart Basket Analysis_04-2023'

In [18]:
#Import Orders.csv dataset

df_ords = pd.read_csv(os.path.join(path1,'02 Data', 'Prepared Data','orders_checked.csv'), index_col = 0)

In [13]:
#Import order_products_prior.csv dataset

df_ords_prior = pd.read_csv(os.path.join(path,'order_products_prior.csv'), index_col = False)

### General Dataframe Checking

In [26]:
# Check the Outputs

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [27]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [28]:
df_ords_prior.shape

(32434489, 4)

In [29]:
df_ords.shape

(3421083, 6)

### Merge Data

#### 1. If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [31]:
# Merge Data and check if INNER JOIN is the right choise 

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [40]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [38]:
# Checking counts of _merge column

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [48]:
# Merge data without _merge column 

df_merged_large_1 = df_ords.merge(df_ords_prior, on = 'order_id')

In [49]:
df_merged_large_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

#### Export the merged file in pickle format as “orders_products_combined.pkl”.

In [50]:
df_merged_large_1.to_pickle(os.path.join(path1, '02 Data','Prepared Data', 'Orders&Orders_products_prior_merged.pk'))